table.yatodo{
    background-color:beige;
}

table.yatodo th{
    background-color: coral;
}

a.yatodo-edit{
    text-decoration: none;
    color:blue
}

.file-as-task .setting-item-control input{
    width:-webkit-fill-available;
}
